In [1]:
import numpy as np
import pandas as pd
data1 = pd.read_csv('Advertising.csv')
data1.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# 1. Explain the dataset

In [2]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

The given dataset shows the advertisement expenditure on different medias such as TV, Radio and Newspaper and also the sales achieved.
It consists of 200 rows and 5 columns

# 2. Check the summary statistics and discuss the max, min, avg, median, and percentiles.

In [5]:
data_stat = data1.drop('Unnamed: 0', axis=1)  #to remove the serial number column

In [6]:
data_stat.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

# Maximum

In [7]:
data_stat.max()

TV           296.4
Radio         49.6
Newspaper    114.0
Sales         27.0
dtype: float64

# Minimum

In [8]:
data_stat.min()

TV           0.7
Radio        0.0
Newspaper    0.3
Sales        1.6
dtype: float64

# Average

In [9]:
data_stat.mean()

TV           147.0425
Radio         23.2640
Newspaper     30.5540
Sales         14.0225
dtype: float64

# Median

In [10]:
data_stat.median()

TV           149.75
Radio         22.90
Newspaper     25.75
Sales         12.90
dtype: float64

# Percentiles

In [12]:
data_stat.quantile([0.25,0.5,0.75])

           TV   Radio  Newspaper   Sales
0.25   74.375   9.975      12.75  10.375
0.50  149.750  22.900      25.75  12.900
0.75  218.825  36.525      45.10  17.400

# 3. The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

H0 = Same amount was spent for the three advertisements

H1 = Amount spent was different

Setting the significance level = 5% = 0.05

In [14]:
from scipy.stats import f_oneway
TV = np.array(data1['TV'])
Radio = np.array(data1['Radio'])
Newspaper = np.array(data1['Newspaper'])
f_oneway(TV,Radio,Newspaper)

F_onewayResult(statistic=358.8514595342597, pvalue=4.552931539744962e-103)

Pvalue is less than 0.05 . It means that null hypothesis must be rejected

Therefore the Amount spent for the three advertisements was different.